/* Variables
/* ---------------------------------------------------------- */

:root {
    color-scheme: dark light;
}

/* Fonts */
$font-sans-serif: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-serif: 'New York', serif;
$font-mono: monospace;
$font-light: 100;
$font-normal: 400;
$font-bold: 700;
$font-heavy: 800;

/* Breakpoints */
$xlarge: 1680px;
$large: 1280px;
$medium: 980px;
$small: 740px;
$xsmall: 480px;

/* Sizes */
$height: 4rem;
$margin: 2rem;
$radius: 0.5rem;

/* Colours */
$color-body-font: rgb(248,247,255);
$color-primary: rgb(48, 188, 237); 
$color-base: rgb(25,25,25);
$color-sub-base: #aaa;
$color-border: rgb(116,117,114);
$color-bg: rgb(25,25,25);
$color-bg-dark: #131313;
$link-color: rgb(48, 188, 237);
$color-bg-bright: rgb(116,117,114);
$yellow: rgb(246, 209, 58);

$color-primary-light: rgb(48, 188, 237);
$color-base-light: #fff;
// $color-base-light-inverted: #131313;
$color-base-light-inverted: rgb(25,25,25);
$color-sub-base-light: #454545;
$color-border-light: #ababab;
$color-bg-light: #f8f8f8;

// TODO: actually implement lightmode, right now colours are just copied from dark-mode
$color-bg-bright-light: #131313;
$color-bg-dark-light: rgb(116,117,114);
$color-body-font-light: rgb(248,247,255);
$color-body-font-light-2: rgb(248,247,255);
$link-color-light: rgb(48, 188, 237);